
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');





* {
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 700px;
    padding: 30px;
    border-radius: 55px 55px 50% 55px;
    
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 50px;
    
    
}

label{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}

::placeholder{
    font-family: 'Poppins', sans-serif;
}

.btn{
    /* background-color: red; */
    display: flex;
}

button{
    background-color: hsl(259, 100%, 65%);
    border-radius: 100%;
    padding: 15px;
    border: none;
}



.line{
    height: 2px;
    width: 500px;
    background-color: hsl(0, 0%, 86%);
}

.result{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    
    font-size: 100px;

}

.result span{
    color: hsl(259, 100%, 65%);
    font-size: 100px;
}

